@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -15px;
    gap: 10px;
}

.icon {
    display: flex;
    max-width: fit-content;
    background-color: #825D26;
    padding: 0.6rem;
    border-radius: 100%;
}

.img {
    max-height: 25px;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #825D26;
    font-weight: 900;
    font-size: 36px;
    
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #825D26;
    font-size: 20px;
    margin-top: 0;
    font-weight: 500;
}

.modes {
    display: flex;
    gap: 15px;
}

.mode {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.mode:hover {
    cursor: pointer;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50vw;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-radius: 8px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label {
    margin-top: 10px;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.input {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    margin-top: 4px;
    background-color: transparent;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 14px;
}

.btn:hover {
    cursor: pointer;
    text-decoration: underline;
}