.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #825D26;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
}

.icon {
    max-height: 20px;
}

.btn:hover {
    cursor: pointer;
    outline: 2px solid rgb(49, 49, 49)
}