@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1rem;

}

label {
    font-family: 'Roboto', sans-serif;
    color: #825D26;
    font-weight: 500;
    font-size: 18px;
}

.add-item-input {
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #825D26;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    padding: 5px;
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 10px;
}

.item-description {
    min-height: 80px;
}

.submit-btn {
    max-width: max-content;
    padding: 12px;
    font-size: 18px;
}