@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #825D26;
    font-weight: 900;
    font-size: 48px;
    margin-left: 20px;
}

.icon {
    display: flex;
    max-width: fit-content;
    background-color: #825D26;
    padding: 0.7rem;
    border-radius: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}