@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.background {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;
}

.centre {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    margin: 0;
    background-color: #E8E1C5;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #825D26;
    margin: 0;
    font-size: 28px;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.close {
    transition: 0.2s linear;
}

.close:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.2s linear;
}

.content {
    max-width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1rem;

}

.input {
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #825D26;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    padding: 5px;
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 10px;
}

label {
    font-family: 'Roboto', sans-serif;
    color: #825D26;
    font-weight: 500;
    font-size: 18px;
}

.submit {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #825D26;
    border: 0px;
}

.submit:hover {
    cursor: pointer;
    outline: 2px solid rgb(49, 49, 49)
    

}







.modal-title {
    margin: 0;
    font-size: 36px;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.category {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}


.modal-close {

}

.modal-close:hover {
    cursor: pointer;
}


